node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

dist
coverage

.env
.env.local
*.local

.vscode
.idea
*.swp
*.swo
.DS_Store

.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

*.log
logs
